<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="../public/jquery.min.js"></script>
    <script src="../public/bootstrap.min.js"></script>
    <script src="../public/app.js"></script>
    <title>Datasets</title>
</head>
<body>
<div class="container-fluid">
    <ul class="nav nav-pills">
        <li class="active"><a>insightUBC</a></li>
        <li><a href="course_explorer.html">Course Explorer</a></li>
        <li><a href="room_explorer.html">Room Explorer</a></li>
        <li><a href="schedule.html">Scheduler</a></li>
        <li><a href="tryme.html">Try Me!</a></li>
    </ul>
</div>
<div class="container-fluid">
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Add Dataset
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div id="datasetAdd" class="panel-body">
                <label for="datasetId1">Dataset ID</label>
                <input type="text" id="datasetId1">
                <input type="file" id="inputFile">
                <button type="button" class="btn btn-primary" id="dsetAdd">Add Dataset</button>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Remove Dataset
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div id="datasetRmv" class="panel-body">
                <label for="datasetId2">Dataset ID</label>
                <input type="text" id="datasetId2">
                <button type="button" class="btn btn-primary" id="dsetRmv">Remove Dataset</button>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>